tr {

    column-span: 20px;

}

td {
    border: 2px solid black;

    text-align: center;
    
}

.cl {
    background-color: red;

}

th{
    background-color: black;
    color: white;
    border: solid black 1px;
}

table{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid black;
    width: 300px;
    height: 500px;


    
}

form{
    width: 400px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin: auto;
    border: solid black 1px;
    border-radius: 10px ;
    color: aliceblue;
    background-color: black;
    border-left: 5px solid rgb(91, 94, 102);
    border-right: 5px solid rgb(91, 94, 102);

}

.formu{
    padding: 10px;
}

label{
    font-size: larger;
}

#var{
    width: 300px;
}



